.main{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
}

.content{
    width: 684px;
    height: 731px;
    align-self: center;
    border: solid 5px rgb(9, 226, 9);
    border-radius: 5px;
}

.awssld{
    height: 730px;
}

.awssld__content{

    width: 684px;
    height: 731px;

}

.awssld__content >img{
    height:731px;
}

.awssld__controls__arrow-left::before{
    background-color: rgb(9, 226, 9) ;

}

.awssld__controls__arrow-left::after{
   background-color: rgb(9, 226, 9) ;
}

.awssld__controls__arrow-right::before{
    background-color: rgb(9, 226, 9) ;

}

.awssld__controls__arrow-right::after{
   background-color: rgb(9, 226, 9) ;
}

.awssld__bullets{
    display: none;
}
